.container {
  margin-top: 250px;
}
#logo {
  margin-left: 800px;
  margin-bottom: 20px;
  width:450px;
}

.form {
  margin: 0 auto;
  width: 600px;
}
.buttons {
  margin-left: 177px;
}
.btn {
  background-color: #ededed;
  border: none;
  border-radius: 4px;
  color: #6c6e70;
  font-weight: bold;
  height: 35px;
  width: 135px;
}
.btn:hover {
  background-color: #f2f2f2;
  border: 1px solid #d6d6d6;
  color: black;
}

#search {
  border: 1px solid #ededed;
  border-radius: 2px;
  box-shadow: 0px 2px 3px #ededed;
  margin-bottom: 30px;
  padding: 10px;
  height: 40px;
  width: 600px;
}
#search:hover {
  box-shadow: 0px 4px 7px #d6d6d6;
}
#search:active {
  box-shadow: 0px 4px 7px #d6d6d6;
}
#search:focus {
  border: 1px solid #ededed;
  box-shadow: 0px 4px 7px #d6d6d6;
}
